@charset "UTF-8";
table{
	width: 100%;
}
table, td, th, tr{
	border: 1px solid #000;
	border-collapse: collapse;
	text-align: center;
}
a{
	color: black;
}
table td, table th{
	padding: 10px;
}
.listdiv{
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
}