@charset "UTF-8";
*{
	box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	margin: 10px;
}
a{
	text-decoration: none;
}
header{
	width:100%;
	height:100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav ul{
	background-color: gray;
	padding: 0;
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 14px 16px;
}
nav ul li:hover{
	background-color: red;
}
nav ul li a{
	color:white;
}
nav ul li .submenus{
	display: none;
	position: absolute;
	z-index: 1;
	padding: 0;
    margin: 14px -16px;
    background-color: white;
    box-shadow: 1px 1px 1px black;
}
nav ul li .submenus a{
	color: black;
}
nav ul .dropdowns:hover .submenus{
	display: block;
}
nav ul .dropdowns .submenus li{
	display: block;
}
nav ul .dropdowns .submenus li:hover{
	background-color: #ccc;
}
form{
	width:100%;
}
footer{
	width:100%;
	height: 100px;
}